{% extends "comun.html" %}
{% block titulo %}
{% if propiedad is None %}Propiedad - Gazze Inmobiliaria
{% else %}Propiedad {{ propiedad.direccion }} - Gazze Inmobiliaria{% endif %}
{% endblock titulo %}
{% block cuerpo %}
{% if propiedad is None %}
<div class="container">
	<h2>Error</h2>
	No se encontró la propiedad.
</div>
{% else %}
<div class="container text-center">
	<h1>Información de la propiedad</h1>
	{% if not propiedad.activa %}
	<div class="alert alert-danger" role="alert">
		<h4 class="alert-heading">PROPIEDAD INACTIVA</h4>
		<p>Para darla de alta, ingresar en <strong>Editar información</strong> y luego <strong>Guardar</strong>.</p>
	</div>
	{% endif %}
	<h5>{{ propiedad.direccion }}</h5>
	<h5>Propietario: <a
			href="{% url 'ver_propietario' propiedad.propietario.persona.dni %}">{{ propiedad.propietario.persona.getApellidoNombre }}</a>
		{% if propiedad.descripcion != '' %}<h5>Descripción: {{ propiedad.descripcion }}</h5>{% endif %}
		{% if propiedad.ciudad != '' %}<h5>Ciudad: {{ propiedad.ciudad }}</h5>{% endif %}
		{% if propiedad.provincia != '' %}<h5>Provincia: {{ propiedad.provincia }}</h5>{% endif %}
		<div class="row justify-content-center">
			<div class="col-auto">
				<a href="{% url 'modificar_propiedad' propiedad.id %}"><button class="btn btn-small btn-info">Editar
						información</button></a>
			</div>
			{% if contrato %}
			<div class="col-auto">
				<a href="{% url 'descargar_autorizacion' contrato.id %}"><button
						class="btn btn-small btn-warning">Descargar poder</button></a>
			</div>
			{% endif %}
		</div>
	</h5>
	<hr>
	<h2 class="mt-4">Contratos activos</h2>
	{% if contratos_activos %}
	<table class="table table-bordered table-sm">
		<thead class="thead-dark">
			<th>Propiedad</th>
			<th>Inquilino</th>
			<th>Fecha de inicio</th>
			<th>Fecha de finalización</th>
			<th></th>
		</thead>
		<tbody>
			{% for contrato in contratos_activos %}
			<tr>
				<td>{{ contrato.propiedad.direccion }}</td>
				<td>{{ contrato.inquilino.persona.getApellidoNombre }}</td>
				<td>{{ contrato.fecha_inicio }}</td>
				<td>{{ contrato.fecha_fin }}</td>
				<td>
					<a href="{% url 'ver_contrato' contrato.id %}"><button type="button"
							class="btn btn-sm btn-primary">Ver contrato</button></a>
					{% if contrato.fecha_firma %}
					<a href="{% url 'grilla' contrato.id %}">
						<button type="button" class="btn btn-sm btn-success">Facturación</button>
					</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h6>No cuenta con contratos activos.</h6>
	{% endif %}
	<hr>
	<h2 class="mt-4">Contratos inactivos <button class="btn btn-primary" type="button"
			id="buttonInactivos">Mostrar</button></h2>
	<div id="tableInactivos" class="d-none">
		{% if contratos_inactivos %}
		<table class="table table-bordered table-sm">
			<thead class="thead-dark">
				<th>Propiedad</th>
				<th>Inquilino</th>
				<th>Fecha de inicio</th>
				<th>Fecha de finalización</th>
				<th></th>
			</thead>
			<tbody>
				{% for contrato in contratos_inactivos %}
				<tr>
					<td>{{ contrato.propiedad.direccion }}</td>
					<td>{{ contrato.inquilino.persona.getApellidoNombre }}</td>
					<td>{{ contrato.fecha_inicio }}</td>
					<td>{{ contrato.fecha_fin }}</td>
					<td>
						<a href="{% url 'ver_contrato' contrato.id %}"><button type="button"
								class="btn btn-sm btn-primary">Ver contrato</button></a>
						{% if contrato.fecha_firma %}
						<a href="{% url 'grilla' contrato.id %}">
							<button type="button" class="btn btn-sm btn-success">Facturación</button>
						</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<h6>No cuenta con contratos inactivos.</h6>
		{% endif %}
	</div>
</div>
{% endif %}
{% endblock cuerpo %}
{% block javascript %}
<script>
	const botonInactivos = document.getElementById("buttonInactivos");
	botonInactivos.addEventListener("click", function () {
		const tabla = document.getElementById("tableInactivos");
		if (tabla.classList.contains("d-none")) {
			tabla.classList.remove("d-none");
			botonInactivos.textContent = "Ocultar";
		} else {
			tabla.classList.add("d-none");
			botonInactivos.textContent = "Mostrar";
		}
	});
</script>
{% endblock javascript %}