{% extends "comun.html" %}
{% block titulo %}Información de contrato - Gazze Inmobiliaria{% endblock titulo %}
{% block cuerpo %}
{% if contrato is None %}
    <div class="container">
        <h2>Error</h2>
        No se encontró el contrato.
    </div>
{% else %}
    <div class="container text-center">
        <h1>Información del contrato</h1>
        {% if not contrato.activo %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">CONTRATO INACTIVO</h4>
            <p>El contrato fue dado de baja manualmente.</p>
            <a class="btn btn-primary" href="{% url 'cargar_contrato' %}?propiedad={{contrato.propiedad.id}}&inquilino={{contrato.inquilino.persona.dni}}">Crear un nuevo contrato a partir de este</a>
            <a href="{% url 'alta_contrato' contrato.id %}"><button class="btn btn-small btn-success">Dar de alta</button>
        </div>
        {% endif %}
        <h5><a href="{% url 'ver_propiedad' contrato.propiedad.id %}">{{ contrato.propiedad.direccion }}</a></h5>
        {% if contrato.fecha_firma is not None %}<h5>Contrato firmado el {{ contrato.fecha_firma }}</h5>
        {% else %}<h5 class="text-danger">Contrato no firmado</h5>{% endif %}
        <h5>Propietario: <a href="{% url 'ver_propietario' contrato.propiedad.propietario.persona.dni %}">{{ contrato.propiedad.propietario.persona.getApellidoNombre }}</a>
        <h5>Inquilino: <a href="{% url 'ver_inquilino' contrato.inquilino.persona.dni %}">{{ contrato.inquilino.persona.getApellidoNombre }}</a></h5>
        <div class="row justify-content-center mb-2">
            {% if contrato.fecha_firma is None or contrato.fecha_firma == '' %}
            <div class="col-auto"><a href="{% url 'firmar_contrato' contrato.id %}"><button class="btn btn-small btn-info">Fecha de firma</button></a></div>
            {% else %}
            <div class="col-auto"><a href="{% url 'grilla' contrato.id %}"><button class="btn btn-small btn-success">Facturación</button></a></div>
            {% endif %}
            {% if contrato.activo %}
            <div class="col-auto"><a href="{% url 'baja_contrato' contrato.id %}"><button class="btn btn-small btn-danger">Dar de baja</button></a></div>
            {% endif %}
            <!--
            <div class="col-auto"><a href="{% url 'descargar_contrato' contrato.id %}"><button class="btn btn-small btn-warning">Descargar documento</button></a></div>
            <div class="col-auto"><a href="{% url 'descargar_autorizacion' contrato.id %}"><button class="btn btn-small btn-primary">Descargar autorización</button></a></div>
            -->
        </div>
        <hr>
        <h2>Detalles</h2>
        <h4>Primer período</h4>
        <h6><strong>{{ contrato.fecha_inicio }}</strong> al <strong>{{ contrato.fecha_mitad }}</strong></h6>
        <h6>Monto mensual del alquiler: ${{ contrato.monto_primer_anio }}</h6>
        <!-- sacamos esta parte porque ya no se necesita
        <h4 class="mt-3">Segundo período</h4>
        <h6><strong>{{ contrato.fecha_mitad }}</strong> al <strong>{{ contrato.fecha_fin }}</strong></h6>
        <h6>Monto mensual del alquiler: ${{ contrato.monto_segundo_anio }}</h6>-->
    </div>
{% endif %}
{% endblock cuerpo %}