[Unit]
Description=Servidor Django inmobiliaria
After=network-online.target

[Service]
Type=simple
User=nginx
WorkingDirectory=/var/www/inmobiliaria-produccion
EnvironmentFile=/etc/gazze/env.conf
ExecStart=/bin/bash /etc/gazze/iniciar_inmobiliaria.sh
Restart=on-failure

[Install]
WantedBy=default.target