Babel==2.6.0
dateutils==0.6.6
dj-database-url==0.5.0
Django==2.0.4
django-allow-cidr==0.3.1
django-widget-tweaks==1.4.2
docx==0.2.4
docx-mailmerge==0.4.0
gunicorn==19.9.0
netaddr==0.7.19
num2words==0.5.6
python-dateutil==2.7.3
pytz==2018.3
six==1.11.0
