{% extends "comun.html" %}
{% block titulo %}
{% if persona.nombre == '' %}Alta propietario - Gazze Inmobiliaria
{% else %}Modificar propietario - Gazze Inmobiliaria{% endif %}
{% endblock titulo %}
{% block cuerpo %}
	<div class="container">
			{% if persona.dni is None %}
			<h2>Ingresar el DNI del propietario</h2>
			<form id="busqueda_form">
				<div class="form-group">
					<label for="busqueda_dni">DNI</label>
					<input type="text" class="form-control" id="busqueda_dni" placeholder="DNI" required>
				</div>
				<button type="submit" class="btn btn-primary">Buscar</button>
			</form>
			{% else %}
			<div class="row">
				{% if persona.nombre == '' %}<h2 class="col-auto">Cargar nuevo propietario</h2>
				{% else %}<h2 class="col-auto">Modificar propietario</h2>
				{% endif %}
			</div>
			<div class="row">
			<form class="container" method="POST">
				{% csrf_token %}
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="dni">DNI</label>
						<input type="text" class="form-control" name="dni" value="{{persona.dni}}" readonly>
					</div>
					<div class="form-group col-md-4">
						<label for="apellido">Apellido</label>
						<input type="text" class="form-control" name="apellido" value="{{persona.apellido}}" required>
					</div>
					<div class="form-group col-md-4">
						<label for="nombre">Nombre</label>
						<input type="text" class="form-control" name="nombre" value="{{persona.nombre}}" required>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="email">Email
							<small>(Opcional)</small>
						</label>
						<input type="text" class="form-control" name="email" value="{{persona.email}}">
					</div>
					<div class="form-group col-md-6">
						<label for="telefono">Teléfono
							<small>(Opcional)</small>
						</label>
						<input type="text" class="form-control" name="telefono" value="{{persona.telefono}}">
					</div>
				</div>
				<div class="form-group">
					<label for="direccion1">Dirección
						<small>(Opcional)</small>
					</label>
					<input type="text" class="form-control" name="direccion" value="{{persona.direccion}}">
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="ciudad">Ciudad
							<small>(Opcional)</small>
						</label>
						<input type="text" class="form-control" name="ciudad" value="{{persona.ciudad}}">
					</div>
					<div class="form-group col-md-4">
						<label for="provincia">Provincia
							<small>(Opcional)</small>
						</label>
						<input type="text" class="form-control" name="provincia" value="{{persona.provincia}}">
					</div>
					<div class="form-group col-md-4">
						<label for="nacionalidad">Nacionalidad
							<small>(Opcional)</small>
						</label>
						<input type="text" class="form-control" name="nacionalidad" value="{{persona.nacionalidad}}">
					</div>
				</div>
				<div class="row justify-content-between">
					<div class="col-auto"><button type="submit" class="btn btn-primary">Guardar</button></div>
					<div class="col-auto"><a href="{% url 'listado_propietarios' %}"><button type="button" class="btn btn-danger">Descartar</button></a></div>
				</div>
			</form>
			{% endif %}
		</div>
	</div>
{% endblock cuerpo %}
{% block javascript %}
<script>
	$('#busqueda_form').submit(function(event){
		event.preventDefault();
		let dni = parseInt($('#busqueda_dni').val().replace(/\./g,''))
		if( isNaN(dni) ) {
			alert("No ingresó un DNI correcto.")
		}
		else {
			var url = "{% url 'cargar_propietario' %}/" + dni
			window.location = url
			return;
		}
	})
</script>
{% endblock javascript %}
