{% extends "comun.html" %}
{% block titulo %}Baja inquilino - Gazze Inmobiliaria{% endblock titulo %}
{% block cuerpo %}
	<div class="container">
		<div class="row"><h2>Baja de inquilino</h2></div>
		<div class="row">¿Desea dar de baja al inquilino {{ inquilino.persona.getApellidoNombre }} DNI {{ inquilino.persona.dni }}?</div>
		<small>Los datos de la persona no se eliminarán del sistema.</small>
		<form method="POST">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">Dar de baja</button>
		</form>
	</div>
{% endblock cuerpo %}
